[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
recipe_planner = {editable = true, path = "."}
pytest = "*"
typer = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"

[dev-packages]
black = "21.11b1"
isort = "*"
autoflake = "*"
pre-commit = "*"
doit = "*"
pytest = "*"
nbqa = "*"
flake8 = "*"
mkdocs = "*"

[requires]
python_version = "3.7"
